#title{
	font-size: 26px;
	line-height: 75px;
}

body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 75px;
    font-size: 16px;
    margin-top: 10px;
    background-color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.menu-object.title{
	color: aquamarine;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-object{
	border-color: aquamarine;
    border-style: outset;
    border-width: 4px;
    width: auto;
    font-size: 25px;
    color:aquamarine;
    background-color: rgb(37, 37, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button.exit{
    border-color: aquamarine;
    border-style: outset;
    border-width: 4px;
    width: auto;
    font-size: 25px;
    color:aquamarine;
    background-color: rgb(37, 37, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
	color: aquamarine;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
}

button.menu-object:active{
	/*border-color: aquamarine;
    border-style: outset;
    border-width: 4px;
    width: auto;
    font-size: 25px;
    color:aquamarine;
    background-color: rgb(37, 37, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}

button.menu-object:hover:not(:active){
    /*
	font-size: 22px;
	width: 325px;
	height: 85px;*/
}

.juego{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
	width: 300px;
    height: 150px;

}

