#title{
	font-size: 26px;
	line-height: 75px;
}

body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 75px;
    font-size: 16px;
    margin-top: 10px;
    background-color: grey;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-container{
  	display: grid;
	justify-content: center; /*Centra los elementos horizontalmente*/
	align-items: center; /*Centra los elementos verticalmente*/
    grid-template-rows: repeat(3, auto); /*Establece 3 filas de altura automática*/
    grid-gap: 10px; /*Establece el espacio entre los elementos*/
    width: 300px;
    height: 300px;
    background-color: grey;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-object#title{
	color: aquamarine;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-object{
	border-color: aquamarine;
    border-style: outset;
    border-width: 4px;
    width: auto;
    font-size: 25px;
    color:aquamarine;
    background-color: rgb(37, 37, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button.exit{
    border-color: aquamarine;
    border-style: outset;
    border-width: 4px;
    width: auto;
    font-size: 25px;
    color:aquamarine;
    background-color: rgb(37, 37, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
	color: aquamarine;
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
}

.juego{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 500px;
    height: 150px;
}

