#title{
	font-size: 26px;
	line-height: 75px;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
}

p{
	text-align: center;
}

button.menu-object:active{
	border-color: aquamarine;
    border-style: outset;
    border-width: 4px;
    width: auto;
    font-size: 25px;
    color:aquamarine;
    background-color: rgb(37, 37, 37);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}

